.vs/
build/
out/
x64/
Debug/
Release/
cmake-build-*/
*.user
*.suo
*.VC.db
*.VC.opendb
*.obj
*.idb
*.ilk
*.pdb
*.tlog
*.log
*.recipe
*.exe

cpp_sim/.vs/
cpp_sim/build/
cpp_sim/out/
cpp_sim/x64/
cpp_sim/Debug/
cpp_sim/Release/
cpp_sim/cmake-build-*/
